border-color: #B6C839;
}
.l-section {
    position: relative;
    margin: 0 auto;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
    display: block;
}
* {
    box-sizing: border-box;
}
hoja de estilo del usuario-agente
section {
    display: block;
}
body {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}
body {
    margin: 0;
    -webkit-tap-highlight-color: rgba(20,20,20,0.3);
}
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
.l-section:before {
    content: '';
    display: table;
}
::selection {
    background-color: rgba(0,0,0,0.66);
    color: #fff;
}